.contacts {
	color: #fff;
	width: 100%;
	margin: 0 auto;
	&__wrap {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		max-width: 700px;
		margin: 0 auto;
		z-index: 1;
		@media (max-width:767.99px) {
			margin-bottom: 2em;
		}
	}
	.container {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		background-image: url(../img/contacts/contacts.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		max-width: 1373px;
		margin: 0 auto;
		position: relative;
		@media (max-width:767.99px) {
			min-height: 100vh;
			background-size: cover;	
		}
		&::before {
			// Trick for proportional width
			content: "";
			display: inline-block;
			width: 0;
			padding-bottom: 68%;
		}
		&::after {
			// overlay
			content: "";
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			background-color: rgba(0,0,0,.5);
		}
	}
	// .contacts__content-title

		&__content-title {
			font-size: 53px;
			font-weight: 900;
			text-align: center;
			position: absolute;
			top: 10%;
			@media (max-width:767.99px) {
				position: unset;
				margin-bottom: 1.5em;
			}
	}

	.button {
		position: absolute;
		bottom: 15%;
		@media (max-width:767.99px) {
			position: unset;
		}
	}

	// .contacts__content-text

	&__content-text {
		margin-bottom: 1.5em;
	}

}

