.hero {
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-image: url(../img/hero-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	position: relative;
	&::before {
		// Overlay
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		background-color: rgba(0,0,0,.5);
		content: "";
	}
	@media (max-width:768px) {
		height: auto;
	}

	// .hero__title

	&__title {
		margin-top: 18.75vh;
		font-size: 60px;
		font-weight: 900;
		margin-bottom: 1em;
		width: 74%;
		@media (max-width:1399.99px) {
			font-size: 48px;
			margin-top: 15vh;
			margin-bottom: 1.5em;
		}
		@media (max-width:1199.99px) {
			font-size: 50px;
			margin-top: 10vh;
		}
		@media (max-width:767.99px) {
			font-size: 40px;
			margin-top: 5vh;
			width: 100%;
		}
	}

	// .hero__subtitle

	&__subtitle {
		font-size: 36px;
		width: 74%;
		margin-bottom: 1em;
		@media (max-width:1399.99px) {
			font-size: 30px;
			margin-bottom: 2em;
		}
		@media (max-width:979.99px) {
			font-size: 30px;
		}
		@media (max-width:767.99px) {
			width: 100%;
		}
	}

	// .hero__features

	&__features {
		display: flex;
		flex-direction: row;
		width: 69%;
		justify-content: space-between;
		@media (max-width:1199.99px) {
			font-size: 24px;
			position: unset;
			margin-top: 1em;
			flex-wrap: wrap;
			justify-content: start;
		}
		@media (max-width:767.99px) {
			width: 100%;
		}
	}

	// .hero__fatures-item

	&__fatures-item {
		font-size: 30px;
		font-weight: 900;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width: 1399.99px) {
			font-size: 26px;
		}
		@media (max-width:1199.99px) {
			max-width: 180px;
			margin-bottom: 1em;
			font-size: 26px;
		}
		@media (max-width:979.99px) {
			font-size: 22px;
		}
		@media (max-width:767.99px) {
			font-size: 18px;
		}
		&:not(:last-child) {
			margin-right: 5%;
		}
		&::after {
			content: "";
			width: 54px;
			height: 3px;
			background: var(--orange);
			display: block;
			margin-top: 10px;
		}
	}

	// .hero__right-side-box

	&__right-side-box {
		position: absolute;
		right: 0; top: 30vh;
		width: 26%;
		background: rgba(41,41,41,.9);
		border-radius: 21px 0 0 21px;
		padding: 32px 17px 40px 17px;
		z-index: 1;
		color: #fff;
		@media (max-width:1399.99px) {
			top: 20vh;
		}
		@media (max-width:767.99px) {
			// position: unset;
			width: 100%;
			border-radius: 0;
			bottom: 0;
			top: unset;
			
		}
		@media (max-width:768px) {
			display: none;
		}
		&.mobile {
			@media (min-width:769px) { 
				display: none;
			}
			@media (max-width:768px) { 
				display: block;
				position: unset;
			}
		}
	}

	// .hero__side-box-right-title

	&__side-box-right-title {
		font-size: 30px;
		font-weight: 900;
		margin-bottom: 1.25em;
	}

	// .hero__side-box-right-subtitle

	&__side-box-right-subtitle {
		font-size: 30px;
		margin-bottom: 1em;
	}

	// .hero__side-box-right-items

	&__side-box-right-items {
		font-size: 20px;
	}

	// .hero__side-box-right-item

	&__side-box-right-item {
		line-height: 2.5em;
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		&:not(:last-child) {
			border-bottom: 1px solid #fff;
		}
		img {
			height: 100%;
		}
		&::after {
			background: url(../img/icons/icons.svg#angle-right);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			content: "";
			width: .9em;
			height: 1.5em;
		}
	}
	.container {
		padding-top: var(--header-height);
		position: relative;
	}
}

