@mixin font($font_name, $file_name, $weight, $style) {

	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
	font-style: #{$style};
	}
}

@import "reset";
@import "variables";
@import "fonts";

body {
	font-family: "Proxima Nova";
	display: flex;
	flex-direction: column;
	font-size: 16px;
	margin: 0 auto;
}
.main {
	width: 100%;
}
.container {
	margin: auto;
	height: 100%;
	padding-left: 20px;
	padding-right: 20px;
}
.container.wide-padding-both {
	max-width: 1373px;
	margin: auto 132px;
}
.container.wide-padding-left {
	margin: auto 55px auto 132px;
}
.h2 {
	font-size: 40px;
	font-weight: 900;
	text-align: center;
	margin-bottom: 1.75em;
}
.button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	a {
		font-size: 20px;
		padding: 20px 25px;
		background: var(--orange);
		color: #fff;
		display: block;
	}
}
.dropdown {
	display: flex;
}

@import "top-menu";
@import "hero";
@import "features";
@import "articles-annonces";
@import "quiz-invitation";
@import "project-gallery";
@import "work-gallery";
@import "about";
@import "quiz-invitation-2";


