:root {
	--header-height: calc(87px + 21px*2);
}
.top-menu {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	color: #ffffff;
	z-index: 2;
	background-color: rgba(0,0,0,0);
	transition: all .6s ease;
	&.scrolled {
		background-color: rgba(0,0,0,0.8);
		transition: all .6s ease;
	}
	&.scrolled .container {
		padding-top: 5px;
		padding-bottom: 5px;
		transition: all .6s ease;
		
	}
	&.scrolled .top-menu__logo-img {
		width: 60px;
		transition: all .6s ease;
	}

	// .top-menu__logo-img

	&__logo-img {
		width: 131px;
		transition: all .6s ease;
		img {
			width: 100%;
		}
	}

	// .top-menu__logo-text

	&__logo-text {
		width: 160px;
		margin-left: 3.1%;
		font-size: 12px;
	}

	// .top-menu__items

	&__items {
		text-transform: uppercase;
		list-style: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		font-size: 20px;
		margin-left: 2%;
		width: 100%;
		max-width: 900px;
	}

	// .top-menu__item

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		
		&:not(:last-child) {
			&::after {
				width: 0;
				height: 30px;
				content: "";
				display: inline-block;
				border-right: 2px solid var(--orange);
				transform: translateX(1.5em) rotate(45deg);

			}
		}
		a, a:visited {
			text-decoration: none;
			color: #fff;
		}
	}
	.container {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		padding-top: 21px;
		padding-bottom: 21px;
		transition: all .6s ease;
	}

}
